<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"        "http://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.market.pos.mapper.IUserMapper">    <resultMap id="UserResultMap" type="com.market.pos.pojo.Backpack">        <id property="userid" column="userid"/>        <result property="equipment" column="equipment"/>        <result property="money" column="money"/>        <result property="book" column="book"/>        <result property="special" column="special"/>        <result property="finddaily" column="finddaily"/>    </resultMap>    <!--删除用户-->    <delete id="delBackpack" parameterType="int">        delete from * where userid = #{userid}    </delete>    <!--查询money-->    <select id="selectMoney" parameterType="String">        select money from backpack where userid = #{userid}    </select></mapper>