<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.market.pos.mapper.ITeamListMapper">

    <resultMap id="TeamListResultMap" type="com.market.pos.pojo.TeamList">
        <id property="id" column="id"/>
        <result property="tId" column="t_id"/>
        <result property="tName" column="t_name"/>
        <result property="tType" column="t_type"/>
        <result property="tTime" column="t_time"/>
        <result property="liuyan" column="liuyan"/>
    </resultMap>

    <insert id="insertTeamList" parameterType="TeamList" keyProperty="id" useGeneratedKeys="true">
        insert into team_list (t_id, t_name, t_type, t_time , liuyan) values (#{tId},#{tName},#{tType},#{tTime},#{liuyan});
    </insert>

    <select id="selectAllTeamList" resultMap="TeamListResultMap">
        select * from team_list order by id desc ;
    </select>

    <select id="findById" resultMap="TeamListResultMap">
        select * from team_list where id = #{id}
    </select>
</mapper>