<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>403</title>
    <link rel="stylesheet" href="../static/layui/css/layui.css"  media="all">
</head>
<body>
<script src="../static/layui/layui.js" charset="utf-8"></script>

</body>
<script>
    window.onload = function () {
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                title: 'error'
                ,content: '您还没有这个发布招募的权限！'
            });
            setTimeout(function () {
                window.location.href="/Members/login"
            },3000)
        })
    }
</script>
</html>