<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>排表</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/layui/css/layui.css"  media="all">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 3%;margin-left: 3%">
    <legend align="center">招募详情</legend>
</fieldset>
<div class="layui-collapse">
    <div class="layui-colla-item">
        <h2 class="layui-colla-title">基本信息
            【副本团】 ：<span class="layui-badge layui-bg-blue" th:text="${t_from}"></span></h2>
        <div class="layui-colla-content layui-show">
            <h3 class="layui-timeline-title"><i class="layui-icon layui-icon-friends" style="font-size: 15px; color: #1E9FFF;"> 副本名称：</i><a th:text="${t_type}"></a><a th:text="${t_name}"></a> </h3>
            <h3 class="layui-timeline-title"><i class="layui-icon layui-icon-notice" style="font-size: 15px; color: #1E9FFF;"> 开团时间：</i><a th:text="${t_time}"></a></h3>
            <h3 class="layui-timeline-title"><i class="layui-icon layui-icon-reply-fill" style="font-size: 15px; color: #1E9FFF;"> 团长留言：</i><a th:text="${liuyan}"></a></h3>
        </div>
    </div>
</div>

            <div class="layui-form-item">
                <table border="1" class="layui-table" id="team_table">
                    <thead>
                    <tr height="40px">
                        <th width="150" style="background: #98cdf7"><div align="center">第1小队</div></th>
                        <th width="150" style="background: #98cdf7"><div align="center">第2小队</div></th>
                        <th width="150" style="background: #98cdf7"><div align="center">第3小队</div></th>
                        <th width="150" style="background: #98cdf7"><div align="center">第4小队</div></th>
                        <th width="150" style="background: #98cdf7"><div align="center">第5小队</div></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr height="50px" align="center">
                        <td id="t_11" th:text="${t_11}"></td>
                        <td id="t_12" th:text="${t_12}"></td>
                        <td id="t_13" th:text="${t_13}"></td>
                        <td id="t_14" th:text="${t_14}"></td>
                        <td id="t_15" th:text="${t_15}"></td>
                    </tr>
                    <tr height="50px" align="center">
                        <td id="t_21" th:text="${t_21}"></td>
                        <td id="t_22" th:text="${t_22}"></td>
                        <td id="t_23" th:text="${t_23}"></td>
                        <td id="t_24" th:text="${t_24}"></td>
                        <td id="t_25" th:text="${t_25}"></td>
                    </tr>
                    <tr height="50px" align="center">
                        <td id="t_31" th:text="${t_31}" ></td>
                        <td id="t_32" th:text="${t_32}" ></td>
                        <td id="t_33" th:text="${t_33}" ></td>
                        <td id="t_34" th:text="${t_34}" ></td>
                        <td id="t_35" th:text="${t_35}" ></td>
                    </tr>
                    <tr height="50px" align="center">
                        <td id="t_41" th:text="${t_41}"></td>
                        <td id="t_42" th:text="${t_42}"></td>
                        <td id="t_43" th:text="${t_43}"></td>
                        <td id="t_44" th:text="${t_44}"></td>
                        <td id="t_45" th:text="${t_45}"></td>
                    </tr>
                    <tr height="50px" align="center">
                        <td id="t_51" th:text="${t_51}"></td>
                        <td id="t_52" th:text="${t_52}"></td>
                        <td id="t_53" th:text="${t_53}"></td>
                        <td id="t_54" th:text="${t_54}"></td>
                        <td id="t_55" th:text="${t_55}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

<script src="../static/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="../static/js/jQuery1.11.3.min.js"></script>
<script type="text/javascript" src="../static/js/myJs.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    function seticon(target) {
        var HTML;
        if (target.match("丐帮")){
            HTML ="<img src=\"../static/jx3icon/丐帮/笑尘.png\" height=\"40px\">" + target.replace("丐帮","");
        }else if (target.match("藏剑")){
            HTML ="<img src=\"../static/jx3icon/藏剑/问水.png\" height=\"40px\">" + target.replace("藏剑","");
        }else if (target.match("霸刀")){
            HTML ="<img src=\"../static/jx3icon/霸刀/北傲.png\" height=\"40px\">" + target.replace("霸刀","");
        }else if (target.match("天策T")){
            HTML ="<img src=\"../static/jx3icon/天策/铁骨.png\" height=\"40px\">" + target.replace("天策T","");
        }else if (target.match("傲血")){
            HTML ="<img src=\"../static/jx3icon/天策/傲血.png\" height=\"40px\">" + target.replace("傲血","");
        }else if (target.match("蓬莱")){
            HTML ="<img src=\"../static/jx3icon/蓬莱/凌海.png\" height=\"40px\">" + target.replace("蓬莱","");
        }else if (target.match("分山")){
            HTML ="<img src=\"../static/jx3icon/苍云/分山劲.png\" height=\"40px\">" + target.replace("分山","");
        }else if (target.match("苍云T")){
            HTML ="<img src=\"../static/jx3icon/苍云/铁骨衣.png\" height=\"40px\">" + target.replace("苍云T","");
        }else if (target.match("剑纯")){
            HTML ="<img src=\"../static/jx3icon/纯阳/太虚.png\" height=\"40px\">" + target.replace("剑纯","");
        }else if (target.match("气纯")){
            HTML ="<img src=\"../static/jx3icon/纯阳/紫霞.png\" height=\"40px\">" + target.replace("气纯","");
        }else if (target.match("鲸鱼")){
            HTML ="<img src=\"../static/jx3icon/唐门/惊羽.png\" height=\"40px\">" + target.replace("鲸鱼","");
        }else if (target.match("田螺")){
            HTML ="<img src=\"../static/jx3icon/唐门/天罗.png\" height=\"40px\">" + target.replace("田螺","");
        }else if (target.match("焚影")){
            HTML ="<img src=\"../static/jx3icon/明教/焚影.png\" height=\"40px\">" + target.replace("焚影","");
        }else if (target.match("明教T")){
            HTML ="<img src=\"../static/jx3icon/明教/明尊.png\" height=\"40px\">" + target.replace("明教T","");
        }else if (target.match("易经")){
            HTML ="<img src=\"../static/jx3icon/少林/易筋经.png\" height=\"40px\">" + target.replace("易经","");
            // tId.style.backgroundColor = "#E5D570";
        }else if (target.match("大师T")){
            HTML ="<img src=\"../static/jx3icon/少林/洗髓.png\" height=\"40px\">" + target.replace("大师T","");
        }else if (target.match("奶花")){
            HTML ="<img src=\"../static/jx3icon/万花/离经.png\" height=\"40px\">" + target.replace("奶花","");
        }else if (target.match("花间")){
            HTML ="<img src=\"../static/jx3icon/万花/花间.png\" height=\"40px\">" + target.replace("花间","");
        }else if (target.match("奶歌")){
            HTML ="<img src=\"../static/jx3icon/长歌/相知.png\" height=\"40px\">" + target.replace("奶歌","");
        }else if (target.match("莫问")){
            HTML ="<img src=\"../static/jx3icon/长歌/莫问.png\" height=\"40px\">" + target.replace("莫问","");
        }else if (target.match("奶毒")){
            HTML ="<img src=\"../static/jx3icon/五毒/补天.png\" height=\"40px\">" + target.replace("奶毒","");
        }else if (target.match("毒经")){
            HTML ="<img src=\"../static/jx3icon/五毒/毒经.png\" height=\"40px\">" + target.replace("毒经","");
        }else if (target.match("冰心")){
            HTML ="<img src=\"../static/jx3icon/七秀/冰心.png\" height=\"40px\">" + target.replace("冰心","");
        }else if (target.match("奶秀")){
            HTML ="<img src=\"../static/jx3icon/七秀/云裳.png\" height=\"40px\">" + target.replace("奶秀","");
        }else {
            HTML = "<img src=\"../static/jx3icon/替补/大侠.png\" height=\"40px\">" + target;
        }
        return HTML;
    }
</script>
<script th:inline="javascript">
    //定义内容数组
    var target = [
        [[${t_11}]],[[${t_12}]],[[${t_13}]],[[${t_14}]],[[${t_15}]],
        [[${t_21}]],[[${t_22}]],[[${t_23}]],[[${t_24}]],[[${t_25}]],
        [[${t_31}]],[[${t_32}]],[[${t_33}]],[[${t_34}]],[[${t_35}]],
        [[${t_41}]],[[${t_42}]],[[${t_43}]],[[${t_44}]],[[${t_45}]],
        [[${t_51}]],[[${t_52}]],[[${t_53}]],[[${t_54}]],[[${t_55}]]
    ];
    //定义id数组
    var tId = [
        "t_11","t_12","t_13","t_14","t_15",
        "t_21","t_22","t_23","t_24","t_25",
        "t_31","t_32","t_33","t_34","t_35",
        "t_41","t_42","t_43","t_44","t_45",
        "t_51","t_52","t_53","t_54","t_55"
    ];

    for (i = 0;i<=24;i++) {
        var HTML = seticon(target[i]);
        document.getElementById(tId[i]).innerHTML = HTML;
    }

</script>
</body>
</html>