<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>团队招募</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../static/layui/css/layui.css"  media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<div class="layui-row layui-col-space5">
    <div class="layui-col-md8">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 5%;" >
            <legend align="center">填写招募信息</legend>
        </fieldset>
        <div style="margin:0.5% 0.5% 0.5% 0.5%;">
            <form class="layui-form" action="/view/suc">
                <div class="layui-form-item">
                    <label class="layui-form-label">副本选择</label>
                    <div class="layui-input-block">
                        <select name="teamName" lay-verify="required" lay-search="" id="team_name">
                            <option value="">直接选择或搜索</option>
                            <optgroup label="100级">
                                <option value="荒血路">荒血路</option>
                                <option value="青莲狱">青莲狱</option>
                                <option value="挑战·荒血路">挑战·荒血路</option>
                                <option value="挑战·青莲狱">挑战·青莲狱</option>
                            </optgroup>
                            <optgroup label="武林通鉴">
                                <option value="周常10人秘境">周常10人秘境</option>
                                <option value="周常5人秘境">周常5人秘境</option>
                            </optgroup>
                            <optgroup label="10人副本刷侠义">
                                <option value="10人副本刷侠义">10人副本</option>
                            </optgroup>
                        </select>
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">副本难度</label>
                    <div class="layui-input-block" >
                        <select name="teamType" lay-verify="required" id="team_type">
                            <option value="10人难度">10人难度</option>
                            <option value="25人难度" selected>25人难度</option>
                            <option value="试炼秘境">试炼秘境</option>
                        </select>
                    </div>
                </div>

                <div class="layui-inline" id="team_date">
                    <label class="layui-form-label">选择日期</label>
                    <div class="layui-input-inline">
                        <input name="date"  type="text" class="layui-input" id="test11" placeholder="请选择日期" lay-verify="required" readonly >
                    </div>
                </div>

                <div class="layui-inline" id="team_time">
                    <label class="layui-form-label">选择时间</label>
                    <div class="layui-input-inline">
                        <input name="time"  type="text" class="layui-input" id="test14" placeholder="请选择时间" lay-verify="required" readonly>
                    </div>
                </div>

                <div class="layui-form-item" style="margin-top: 5%;margin-left:5%;">
                    <table border="1" class="layui-table" id="team_table">
                        <thead>
                        <tr height="40px">
                            <th width="150" style="background: #98cdf7"><div align="center">第1小队</div></th>
                            <th width="150" style="background: #98cdf7"><div align="center">第2小队</div></th>
                            <th width="150" style="background: #98cdf7"><div align="center">第3小队</div></th>
                            <th width="150" style="background: #98cdf7"><div align="center">第4小队</div></th>
                            <th width="150" style="background: #98cdf7"><div align="center">第5小队</div></th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr height="50px" align="center">
                                <td id="target11"></td>
                                <td id="target12"></td>
                                <td id="target13"></td>
                                <td id="target14"></td>
                                <td id="target15"></td>
                            </tr>
                            <tr height="50px" align="center">
                                <td id="target21"></td>
                                <td id="target22"></td>
                                <td id="target23"></td>
                                <td id="target24"></td>
                                <td id="target25"></td>
                            </tr>
                            <tr height="50px" align="center">
                                <td id="target31"></td>
                                <td id="target32"></td>
                                <td id="target33"></td>
                                <td id="target34"></td>
                                <td id="target35"></td>
                            </tr>
                            <tr height="50px" align="center">
                                <td id="target41"></td>
                                <td id="target42"></td>
                                <td id="target43"></td>
                                <td id="target44"></td>
                                <td id="target45"></td>
                            </tr>
                            <tr height="50px" align="center">
                                <td id="target51"></td>
                                <td id="target52"></td>
                                <td id="target53"></td>
                                <td id="target54"></td>
                                <td id="target55"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div style="width: auto;margin-top: 1%;margin-left: 5%">
                    <button class="layui-btn layui-btn-fluid" lay-submit onclick="showdata()">立即提交</button>
                </div>

            </form>
        </div>
    </div>
    <div class="layui-col-md4">
        <div style="margin:0.5% 0.5% 0.5% 0.5%;">
            <div style="margin-top: 13%">

                <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                    <ul class="layui-tab-title">
                        <li class="layui-this">T奶组</li>
                        <li>外功</li>
                        <li>内功</li>
                    </ul>
                    <div class="layui-tab-content">

                        <div class="layui-tab-item layui-show">
                            <table class="layui-table">
                                <tr height="40px" align="center">
                                    <td width = "110"><img src="../static/png/明教.png" height="50px"></td>
                                    <td width = "110"><img src="../static/png/天策.png" height="50px"></td>
                                    <td width = "110"><img src="../static/png/少林.png" height="50px"></td>
                                    <td width = "110"><img src="../static/png/苍云.png" height="50px"></td>
                                </tr>
                            <tr height="40px" align="center">
                                <td id="draggable11" width = "110"><span class="layui-badge">坦</span>明教T</td>
                                <td id="draggable12" width = "110"><span class="layui-badge">坦</span>天策T</td>
                                <td id="draggable13" width = "110"><span class="layui-badge">坦</span>大师T</td>
                                <td id="draggable14" width = "110"><span class="layui-badge">坦</span>苍云T</td>
                            </tr>
                            </table>
                            <table class="layui-table">
                                <tr height="40px" align="center">
                                    <td width = "110"><img src="../static/png/万花.png" height="50px"></td>
                                    <td width = "110"><img src="../static/png/长歌.png" height="50px"></td>
                                    <td width = "110"><img src="../static/png/五毒.png" height="50px"></td>
                                    <td width = "110"><img src="../static/png/七秀.png" height="50px"></td>
                                </tr>
                            <tr height="40px" align="center">
                                <td id="draggable15" width = "110"><span class="layui-badge" style="background: #00FF00">疗</span>奶花</td>
                                <td id="draggable16" width = "110"><span class="layui-badge" style="background: #00FF00">疗</span>奶歌</td>
                                <td id="draggable17" width = "110"><span class="layui-badge" style="background: #00FF00">疗</span>奶毒</td>
                                <td id="draggable18" width = "110"><span class="layui-badge" style="background: #00FF00">疗</span>奶秀</td>
                            </tr>
                            </table>
                        </div>

                        <div class="layui-tab-item">
                            <table class="layui-table">
                                <tr height="40px" align="center">
                                    <td width = "110"><img src="../static/png/藏剑.png" height="50px"></td>
                                    <td width = "110"><img src="../static/png/霸刀.png" height="50px"></td>
                                    <td width = "110"><img src="../static/png/丐帮.png" height="50px"></td>
                                    <td width = "110"><img src="../static/png/纯阳.png" height="50px"></td>
                                </tr>
                                <tr height="40px" align="center">
                                    <td id="draggable21" width = "110"><span class="layui-badge" style="background: #7baaf7">外</span>蓬莱</td>
                                    <td id="draggable22" width = "110"><span class="layui-badge" style="background: #7baaf7">外</span>霸刀</td>
                                    <td id="draggable23" width = "110"><span class="layui-badge" style="background: #7baaf7">外</span>丐帮</td>
                                    <td id="draggable24" width = "110"><span class="layui-badge" style="background: #7baaf7">外</span>剑纯</td>
                                </tr>
                            </table>
                            <table class="layui-table">
                                <tr height="40px" align="center">
                                    <td width = "110"><img src="../static/png/藏剑.png" height="50px"></td>
                                    <td width = "110"><img src="../static/png/天策.png" height="50px"></td>
                                    <td width = "110"><img src="../static/png/苍云.png" height="50px"></td>
                                    <td width = "110"><img src="../static/png/唐门.png" height="50px"></td>
                                </tr>
                                <tr height="40px" align="center">
                                    <td id="draggable25" width = "110"><span class="layui-badge" style="background: #7baaf7">外</span>藏剑</td>
                                    <td id="draggable26" width = "110"><span class="layui-badge" style="background: #7baaf7">外</span>傲血</td>
                                    <td id="draggable27" width = "110"><span class="layui-badge" style="background: #7baaf7">外</span>分山</td>
                                    <td id="draggable28" width = "110"><span class="layui-badge" style="background: #7baaf7">外</span>鲸鱼</td>
                                </tr>
                            </table>
                        </div>

                        <div class="layui-tab-item">
                            <table class="layui-table">
                                <tr height="40px" align="center">
                                    <td width = "110"><img src="../static/png/万花.png" height="50px"></td>
                                    <td width = "110"><img src="../static/png/少林.png" height="50px"></td>
                                    <td width = "110"><img src="../static/png/长歌.png" height="50px"></td>
                                    <td width = "110"><img src="../static/png/纯阳.png" height="50px"></td>
                                </tr>
                                <tr height="40px" align="center">
                                    <td id="draggable31" width = "110"><span class="layui-badge" style="background: #f7e029">内</span>花间</td>
                                    <td id="draggable32" width = "110"><span class="layui-badge" style="background: #f7e029">内</span>易经</td>
                                    <td id="draggable33" width = "110"><span class="layui-badge" style="background: #f7e029">内</span>莫问</td>
                                    <td id="draggable34" width = "110"><span class="layui-badge" style="background: #f7e029">内</span>气纯</td>
                                </tr>
                            </table>
                            <table class="layui-table">
                                <tr height="40px" align="center">
                                    <td width = "110"><img src="../static/png/唐门.png" height="50px"></td>
                                    <td width = "110"><img src="../static/png/七秀.png" height="50px"></td>
                                    <td width = "110"><img src="../static/png/五毒.png" height="50px"></td>
                                    <td width = "110"><img src="../static/png/明教.png" height="50px"></td>
                                </tr>
                                <tr height="40px" align="center">
                                    <td id="draggable35" width = "110"><span class="layui-badge" style="background: #f7e029">内</span>田螺</td>
                                    <td id="draggable36" width = "110"><span class="layui-badge" style="background: #f7e029">内</span>冰心</td>
                                    <td id="draggable37" width = "110"><span class="layui-badge" style="background: #f7e029">内</span>毒经</td>
                                    <td id="draggable38" width = "110"><span class="layui-badge" style="background: #f7e029">内</span>焚影</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--留言框-->
        <div class="layui-input-block " style="margin-left: 10px;margin-top: 30px;margin-right: 10px;margin-top: 0px">
            <button class="layui-btn layui-btn-fluid" style="background: #9fd07a">给大家留条言吧！</button>
            <textarea name="desc" placeholder="请输入内容(150字以内)" class="layui-textarea" id="liuyan" maxlength="150"></textarea>
        </div>
    </div>

</div>
<script src="../static/layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script src="../static/js/myJs.js"></script>
<script>
    function showdata() {
        var liuyan = $("#liuyan").val();
            var t_id = getGUID();

            var data11 = document.getElementById("target11").innerText;
            var data12 = document.getElementById("target12").innerText;
            var data13 = document.getElementById("target13").innerText;
            var data14 = document.getElementById("target14").innerText;
            var data15 = document.getElementById("target15").innerText;

            var data21 = document.getElementById("target21").innerText;
            var data22 = document.getElementById("target22").innerText;
            var data23 = document.getElementById("target23").innerText;
            var data24 = document.getElementById("target24").innerText;
            var data25 = document.getElementById("target25").innerText;

            var data31 = document.getElementById("target31").innerText;
            var data32 = document.getElementById("target32").innerText;
            var data33 = document.getElementById("target33").innerText;
            var data34 = document.getElementById("target34").innerText;
            var data35 = document.getElementById("target35").innerText;

            var data41 = document.getElementById("target41").innerText;
            var data42 = document.getElementById("target42").innerText;
            var data43 = document.getElementById("target43").innerText;
            var data44 = document.getElementById("target44").innerText;
            var data45 = document.getElementById("target45").innerText;

            var data51 = document.getElementById("target51").innerText;
            var data52 = document.getElementById("target52").innerText;
            var data53 = document.getElementById("target53").innerText;
            var data54 = document.getElementById("target54").innerText;
            var data55 = document.getElementById("target55").innerText;

            var con = {};

            con["t_id"] = t_id;

            con["data11"] = data11;
            con["data12"] = data12;
            con["data13"] = data13;
            con["data14"] = data14;
            con["data15"] = data15;

            con["data21"] = data21;
            con["data22"] = data22;
            con["data23"] = data23;
            con["data24"] = data24;
            con["data25"] = data25;

            con["data31"] = data31;
            con["data32"] = data32;
            con["data33"] = data33;
            con["data34"] = data34;
            con["data35"] = data35;

            con["data41"] = data41;
            con["data42"] = data42;
            con["data43"] = data43;
            con["data44"] = data44;
            con["data45"] = data45;

            con["data51"] = data51;
            con["data52"] = data52;
            con["data53"] = data53;
            con["data54"] = data54;
            con["data55"] = data55;

            console.log(con);
            myajax(con, "/team/tree");

            // language=JQuery-CSS
            var t_name = $("#team_name option:selected").val();
            var t_type = $("#team_type option:selected").val();
            var date = test11.value;
            var time = test14.value;

            var form = {};
            form["t_id"] = t_id;
            form["t_name"] = t_name;
            form["t_type"] = t_type;
            form["date"] = date;
            form["time"] = time;
            form["liuyan"] = liuyan;
            console.log(form)
            myajax(form, "/team/members");
    }


    //Demo
    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });
    layui.use('laydate', function () {
        var laydate = layui.laydate;
        //自定义格式
        laydate.render({
            elem: '#test11'
            , format: 'yyyy年MM月dd日'
        });
        laydate.render({
            elem: '#test14'
            , type: 'time'
            , format: 'H点m分'
        });
    });
    layui.use('element', function () {
        var element = layui.element;
    });
</script>

<script type="text/javascript" src="../static/js/jQuery1.11.3.min.js"></script>
<!--导入jqueryUI插件-->
<script type="text/javascript" src="../static/js/jquery-ui.js"></script>

<!--自写脚本-->
<script type="text/javascript" language="javascript">
    //在页面加载完之后加载jquery
    $().ready(function(e) {
        //拖拽复制体
        $('td[id^="draggable"]').draggable({
            helper:"clone",
            cursor: "move"
        });

        //释放后
        $('td[id^="target"]').droppable({
            drop:function(event,ui){
                $(this).children().remove();
                var source = ui.draggable.clone();
                $('<img/>', {
                    src: '../static/btn_delete.png',
                    style:'display:none',
                    click: function() {
                        source.remove();
                    }
                }).appendTo(source);
                source.mouseenter(function () {
                    $(this).find("img").show();
                });
                source.mouseleave(function () {
                    $(this).find("img").hide();
                });
                $(this).append(source);

            }
        });
    });
</script>

</body>
</html>